


.table{

  border-collapse:collapse;
  padding:10px;
}
.general{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.youtubetest{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu{
  align-items: center;
  width:80%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
#item{
  display:flex;
  justify-content:center;
  align-items:center;
}
.margin-center {
  margin-bottom:30px;
  margin-top:30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.general-link{
  font-size:15px;
  color:#000000;
}
.test_footer{
  background: rgba(29,139,21,0.5);
  height: auto;
}
.body{
  background:#A748FF;
  opacity: 0.8;
}
.passage{
  font-size: 20 px;
  padding-left: 20%;
  padding-right: 20%;
  line-height:200%
}
